@import url('variable.css');

*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: var(--text-color);
}

.topo-site{
    text-align: center;
    font-size: 20px;
    background-color: #1e90ff;
}

body{
    background-color: var(--bg-color-body);
    text-align: center;
}

main{
    background-color: var(--bg-color-container);
    border-radius: 10px;
    padding: 30px;
    border: 0;
}

.conteudo-site{
    padding-top: 10px;
    max-width: 1000px;
    margin: 0 auto;
}

.txt-meio{
    margin: 20px 0;
    text-align: center;
    line-height: 2;
    font-size: 18px;
}

.btn-meio{
    text-align: center;
}

.btn-meio .btn-envio{
    color: #fff;
    border-radius: 15px;
    background-color: #FF4500;
    padding: 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: .2s;
}

.btn-meio .btn-envio:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 8px #dd7048;
}

.cards{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    flex-wrap: wrap;
}

.card-conteudo{
    display: flex;
    flex-direction: column;
    width: 270px;
    text-align: center;
    border: 0;
    background-color: #202020;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 8 #363636;
}

.card-conteudo h3{
    font-size: 20px;
}

.card-conteudo p{
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5;
}

img{
    border-radius: 10px;
}

@media (max-width: 600px) {
    .cards{
        width: 95%;
    }
    
}

.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(8, 8, 8, 0.8);
    z-index: 1000;
    position: fixed;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
}

.modal-content {
    border: 1px solid #1d1d1d;
    border-radius: 10px;
    background-color: var(--bg-color-container);
    box-shadow: 0 0 20px #111111;
    padding: 25px;
    position: relative;
}

.hidden {
    display: none !important;
}

.fechar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}